/*COLOR : #2fa8ff*/
html{
  height: 100%;
  width: 100%;
}


.well{
  margin-top: 20px;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(images/share_campus_1.svg);
  background-position: center;
  background-size:1700px 1700px;
}

h1{
  font-family: lobster;
  color: #2fa8ff;
}

.wrapper{
  display: flex;
  flex-direction: column;
  flex:1;
  min-height: fit-content;
}

.container{
  margin: auto;
  padding: 0 40px 40px 40px;
}

.input-group{
  max-width: 400px;
}

button{
  max-width: 300px;
}

.btn-success{
  background-color: #2fa8ff;
}

#header_wrapper{
  min-height: 85px;
  max-height: 90px;
}

.category{
  border: 1px solid #ccc;
  border-radius: 0;
}

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }


.single-item{
  border-radius: 15px;
  text-align: center;
}

.table>tbody>tr>td{
  border-top:0px;
}

.btn-category{
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-radius: 0;
}


/******** HEADER ********/

#header_wrapper{
    margin: 0 auto 60px auto;
}

.navbar{
  background-color: white;
  font-size: 1.4em;
  border-radius: 0px;
  min-height: 85px;
  max-height: 86px;
  padding: 0 20px;
  border-width: 0 0 1px 0;
  box-shadow: 0px 3px 10px rgba(0,0,0,.20);
}

.navbar-toggle{
  margin-right: 15px;
  margin-top: 20px;
}

#bs-example-navbar-collapse-1{
  flex:1;
}

#logo_name_container{
  padding-right: 20px;
  height: 83px;
  max-height: 83px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

#header_container{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.dropdown-menu {
	color: white;
	margin-top:; 0;
	padding: 0 0 0 0;
	border-radius: 0;
	border: 1px solid #FF9800;
	min-width: 0;
  font-size: 1em;
}

.dropdown-menu>li>a {
	color:#2fa8ff;
}

.navbar-collapse{
  background-color: white;
}

#logo {
	margin: 0;
  width: fit-content;
  height: 68px;
  padding: 8px;
}

#logo-pic{
  overflow:hidden;
  display: inline-block;
  width: 70px;
  height: 70px;
}

#logo_name{
  display: flex;
  color: #FF9800;
  font-family: Lobster ;
  font-size: 1.8em;
}

#logo_name h3{
  margin: 8px 0px 0px 0px;
  font-size: 0.8em;
}

#menu-items{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#menu-items>li>a {
	color:#FF9800 ;
	margin: 0 3px 0 3px;
}

#menu-items>li {
	padding: 14px 5px 10px 0;
}

#menu-items>li:not(.active) {
	border-bottom: 1px solid transparent;
}

#menu-items>li>a:hover {
	color: #2fa8ff;
  }

nav li{
  font-weight: bold;
}

#search_div{
  width: 100%;
  max-width: 95%;
}

#search_li{
  flex:1;
}

  #search_div button{
    height: 40px;
  }

#search{
  font-weight: normal;
  height: 40px;
  width: 100%;
  font-size:20px;
}

li form{
  padding: 10px 0px;
  margin-left: 20px;
  width: 100%;
};

/******** FOOTER ********/

.footer-wrapper{
  background-color: #FF9800;
  width: 100%;
  text-align: center;
}

#footer {
	background-color: #FF9800;
	color:white;
  max-height: 100%;
  margin-top: 50px;
}

#footer-content {
	margin: 0 auto;
  max-height: 100%;
  padding-bottom: 0px;
}

#footer-content-2 {
	margin: 0 10px;
  display: flex;
  justify-content: space-evenly;
}

.footer-column {
	padding: 10px 5px 3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 60px;
}

.footer-column ul {
	list-style: none;
  padding: 0;
	/*padding: 0 30px 0 10px;*/
}

.footer-column li {
	margin-bottom: 10px;
	text-align: left;
}

.footer-column a {
	color: white;
	text-decoration: none;
	margin: 0;
	font-size: 1.2em;
	letter-spacing: 0.5px;
}

.footer-column li:hover>a {
	color: #00B8DE;
	transition: 0.5s;
}


#social-media > div{
  flex-direction: row;
  margin: 10px 0;
  display: flex;
}

#social-media a img {
	width: 55px;
  margin-right: 10px;
	/*margin: 10px 10px 10px 10px;*/
}

#copyrights {
	padding: 0.5px 0 0 0;
	color: white;
	background-color: #FF9800;
}

#copyrights a {
	color: white;
}

#copyrights a:hover {
	color:#FF9800;
	text-decoration: none;
}

#copyrights p{
  /*margin: 0 0 2px;*/
  margin: auto;
  text-align: center;
}

/******** CONNEXION / INSCRIPTION *********/


.modal-dialog{
  max-width: 460px;
}

.modal-title{
  text-align: center;
}

.modal-body{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}

.modal p{
  margin:auto;
  padding-top:0px;
  padding-bottom: 5px;
  max-width: 100%;
  max-height: 100%;
}

.modal img{
  max-width: 17em;
  max-height: 17em;
}

.modal .input-group{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal form{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  border-top:none;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-bottom: 10px;
}

.modal-footer div{
  margin: auto;
  padding-top: 10px;
}

#inscription_modal .input-group{
  margin-top: 10px;
}

/*************** LANDING PAGE ****************/

#header_landing{
  margin: 0;
}

#landing_container{
  margin: 0;
  padding: 0px;
  width: inherit;
}

#landing_container section{
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
}

.inner-section{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description_item{
  margin: 40px;
}

#slideshow {
  margin: 0px;
  height:600px;
  width: 100%;
  background-size:cover;
  /*background-image: url(images/campus_background.png);*/
  background-position: center center;
  background-color: silver;
  text-align: center;
}

.group-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height:300px;
  padding-top: 50px;
}

.margin_auto {
  margin: auto;
}

#description_row{
  background-color: rgb(0,0,0,0.1);
  padding: 70px 20px;
  text-align: center;
}

#description_row + div{
  text-align: center;
}

#description_row p{
  max-width: 300px;
}

.img-square{
  width: 200px;
  height: 200px;
  max-width: 200px;
  border : silver solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#description_container{
  margin-top: 70px;
}

#description_row h4{
  margin-top: 20px;
}

#test_row{
  background-color: silver;
  text-align: center;
}

#test_row > div{
  margin: auto;
}

#landing_container select{
  max-width: 200px;
  min-width: 150px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}

/*
#test_container .input-group{
  margin-left: 20px;
  margin-right: 20px;
}*/

#test_container form{
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#select_div{
  margin-right: 60px;
}

.input-group-addon{
  width: auto;
}

.row-container{
  display: flex;
  justify-content: space-around;
}

.fonctionnalities p{
  max-width: 500px;
}

#inscription_section{
  text-align: center;
}

#inscription_section button{
  margin: auto;
}

#email_content{
  min-height: 200px;
}

#contact input{
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#contact{
  text-align: center;
}

#contact form{
  margin: auto;
  padding: 30px;
  width: 100%;
}



/********** WELCOME ***********/

#welcome_container{
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: -webkit-fill-available;
}

#welcome_container > h1{
  margin-bottom: 50px;
  margin-top: 80px;
}


#object_section{
  margin: auto;
  display: flex;
  flex-direction: column;
}

#object_form{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
  flex
}

#object_form > .input-group{
  padding: 15px 0px;
  margin: auto;
}

.align-items{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

  .align-items div[class="input-group"]{
    align-self: center;
  }


/*********** MYACCOUNT **********/

#account_container section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.private-info{
}

  .private-info-item > h4{
    text-align: center;
  }

  .private-info ul{
    list-style: none;
  }

  .private-info-token{
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .private-info-token h4{
      font-size: 6em;
      font-style: normal;
    }

    .private-info-token p{
      margin: 20px;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #ffff00;
      }


.titles{
  flex: 1;
}

  .titles > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    min-width: 200px;
  }

    .badges-item{
      display: flex;
      align-items: center;
      height: fit-content;
      padding-right: 30px;
    }

      .badges-item .badge-pic{
        margin: 10px 20px;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        background-color: silver;
      }

    .progress-bar-container{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 20px;
    }

  .marks > div{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
  }

  .marks-item{
    margin: auto;
  }

    .marks-item span{
      width: 30px;
      height: 30px;
    }

    .marks-item .checked{
      color: orange;
    }

    .reviews-item{
      border: 1px solid silver;
    }

.historic{
  flex-direction: column;
}

  .historic-item{
    border: 1px solid silver;
    height: 100px;
    width: 600px;
  }

/********* INDEX ***********/

#objects_season{
  max-width: 2000px;
  max-height: 1000px;
  height: 1000px;
  margin-top: 0;
  padding:0px;
}

  #objects_season .carousel{
    max-height: 100%;
  }

    .carousel-inner{
      max-height: 500px;
    }

      .carousel-inner .item{
        max-height: 100%;
      }

        #objects_season .carousel img{
          max-height: 100%;
        }

.news-section{
  border: 1px solid silver;
  margin: auto;
  height: 250px;
  margin-top: 50px;
}

.news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

  .news-section{
    max-width: 500px;
    min-width: 500px;
    padding: 10px;
  }

.news-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  .objects-container-display{
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;
    align-items: center;
    padding: 5px;


  }

  #cooking-section{
    background-image: url(./images/kitchen.png);
    background-position: center center;
    background-size: cover;
  }

    .object-display{
      padding: 10px;
      margin: 5px auto;
      height: 30px;
      max-width: 100px;
      font-weight: bold;
      background-color: #ffa726;
      border-radius: 10px;
      min-width: 200px;
    }

/******* MY OBJECTS ********/

#myObjects-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

  #myObjects-container form{
    margin-top: 50px;
  }

  #myObjects-container section{
    padding-top: 20px;
    padding-bottom: 20px;
  }

#newObject{
  margin: auto;
  min-width: 50%;
  box-shadow: 4px 4px 15px rgba(0,0,0,.18);
}


/******* OBJECTS BORROWED *******/

#objectsBorrowed {
  padding-top: 64px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0;
}

  .objects-container{
    padding-top: 40px;
    color: white;
    /*margin : auto;
    display: flex;
    flex-direction: column;*/
  }

    .object-borrowed{
      margin: auto;
      border-radius: 10px;
      display:flex;
      justify-content: space-between;
      max-width: 700px;
      height: 70px;
      align-items: center;
      padding: 10px;
      background-color: #ffa726;
      font-size: 1.4em;
      box-shadow: 8px 8px 10px rgba(0,0,0,.17);
    }

    #newObject{
      height: 40px;
    }

    #newObject input{
      height: 40px;
      font-size: 1.4em;
    }

    #newObject button{
      height: 40px;
      font-size: medium;
    }




/************* NOTIFICATIONS ****************/

#notifications_container{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

  .message-container{
    margin: 30px auto 30px auto;
    text-align: center;
    border-radius: 10px;
    max-width: 800px;
    width: 800px;
    height: fit-content;
    font-size: 1.4em;
    box-shadow: 8px 8px 10px rgba(0,0,0,.20);
  }

    .message-header{
      border-radius: 10px 10px 0 0;
      height: 50px;
      margin: auto;
      background-color: #FF9800;
      padding: 10px;
    }

    .message-body{
      background-color: #ffcb6c;

      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
    }

      .message-body > div{
        margin: auto 0 auto 0;
      }

    .message-footer{
      background-color: #ffcb6c;
      border-radius: 0 0 10px 10px;
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      margin: auto;
      border-radius: 0 0 10px 10px;
    }



/******* INSCRIPTION *********/

#welcome-body{
  background-color: #FF9800;
}

.container #first-row #panel-parent{
    height: 100vh;
}

#panel-parent{
    display: flex;
    padding-top: 20px;
}

#logo_col{
    display:flex;
}

#logo_p{
    margin: auto;
}


.input-group{
    margin-top: 0px;
    margin-bottom : 0px;
}

input, select{
    height: 30px;
    border-right: None;
}

.span-warning{
  color:red;
  font-size: 10px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-group-addon{
    height: auto;
}

select{
    width:100%;
}

.panel {
    margin: auto;
    background-color: #C3C1BA;
    width:auto;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}
