html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper{
  position:relative;
  height: 100vh;
}

.container{
  margin: auto;
}

.input-group{
  max-width: 300px;
  min-width: 200px;
  width: 300px;
}

button{
  max-width: 300px;
}

/******** HEADER ********/

.navbar{
  background-color: white;
  font-size: 1.2em;
  border-radius: 0px;
  min-height: 70px;
  max-height: 90px;
}

.navbar-toggle{
  margin-right: 15px;
  margin-top: 20px;
}


@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.dropdown-menu {
	color: white;
	margin-top:; 0;
	padding: 0 0 0 0;
	border-radius: 0;
	border: 1px solid #FF9800;
	min-width: 0;
  font-size: 1em;
}

.dropdown-menu>li>a {
	color:black;
}

.navbar-collapse{
  background-color: white;
}

#logo {
	padding: 7px;
	margin: 0 0 0 0;
  width: 100%;
  height: auto;
}

#logo-pic{
  overflow:hidden;
  display: inline-block;
  border-radius:50%;
  width: 60px;
  height: 60px;
  margin-bottom: : 10px;
}

#menu-items>li>a {
	color:#FF9800 ;
	margin: 0 3px 0 3px;
}

#menu-items>li {
	padding: 10px 5px 10px 0;
}

#menu-items>li:not(.active) {
	border-bottom: 1px solid transparent;
}

#menu-items>li>a:hover {
	color: black;
  }



/******** FOOTER ********/

#footer-wrapper{
  background-color: #FF9800;
  width: 100%;
  margin-top: auto;
  text-align: center;
  margin: 0 0 0 0;
  margin-bottom: 0px;
}

#footer {
	background-color: #FF9800;
	color:white;
  max-height: 100%;
}

#footer-content {
	margin: 0 auto;
  max-height: 100%;
}

#footer-content-2 {
	margin: 0 10px;
}

#pages {
	padding: 20px 5px 3px 5px;
}

#pages ul {
	list-style: none;
	padding: 0 30px 0 10px;
}

#pages li {
	margin-bottom: 10px;
	text-align: left;
}

#pages a {
	color: white;
	text-decoration: none;
	margin: 0 20px 0 20px;
	font-size: 1em;
	letter-spacing: 0.5px;
}

#pages li:hover>a {
	color: #00B8DE;
	transition: 0.5s;
}

#social-media {
	padding: 10px 0 10px 0;
	text-align: center;
}

#social-media h3, #acknowledgments h3 {
	color: white;
	padding-bottom: 15px;
}

#social-media a img {
	width: 55px;
	margin: 10px 10px 10px 10px;
}

#acknowledgments {
	margin: 10px 0;
	text-align: justify;
}

#copyrights {
	padding: 0.5px 0 0 0;
	color: white;
	background-color: #FF9800;
}

#copyrights a {
	color: white;
}

#copyrights a:hover {
	color:#FF9800;
	text-decoration: none;
}

#copyrights p{
  margin: 0 0 2px;
}

/******** CONNEXION / INSCRIPTION *********/


.modal-dialog{
  max-width: 460px;
}

.modal-title{
  text-align: center;
}

.modal-body{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}

.modal p{
  margin:auto;
  padding-top:0px;
  padding-bottom: 5px;
  max-width: 100%;
  max-height: 100%;
}

.modal img{
  max-width: 17em;
  max-height: 17em;
}

.modal .input-group{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal form{
  margin: auto;
  display: flex;
  flex-direction: column;
}

.modal-footer {
  border-top:none;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  margin-bottom: 10px;
}

.modal-footer div{
  margin: auto;
  padding-top: 10px;
}

#inscription_modal .input-group{
  margin-top: 10px;
}

/*************** LANDING PAGE ****************/

#header_landing{
  margin: 0;
}

#header_landing li{
  font-weight: bold;
}

#landing_container{
  margin: 0;
  padding: 0px;
  width: inherit;
}

#landing_container section{
  display: flex;
  flex-direction: column;
  padding: 100px 40px;
}

.inner-section{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.description_item{
  margin: 40px;
}

#slideshow {
  margin: 0px;
  height:600px;
  width: 100%;
  background-size:cover;
  /*background-image: url(images/campus_background.png);*/
  background-position: center center;
  background-color: silver;
  text-align: center;
}

.group-centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  height:300px;
  padding-top: 50px;
}

.margin_auto {
  margin: auto;
}


#description_row{
  background-color: rgb(0,0,0,0.1);
  padding: 70px 20px;
  text-align: center;
}

#description_row + div{
  text-align: center;
}

#description_row p{
  max-width: 300px;
}

.img-square{
  width: 200px;
  height: 200px;
  max-width: 200px;
  border : silver solid;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#description_container{
  margin-top: 70px;
}

#description_row h4{
  margin-top: 20px;
}

#test_row{
  background-color: silver;
  text-align: center;
}

#test_row > div{
  margin: auto;
}

#landing_container select{
  max-width: 200px;
  min-width: 150px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 30px;
}
/*
#test_container .input-group{
  margin-left: 20px;
  margin-right: 20px;
}*/

#test_container form{
  margin-top: 80px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#select_div{
  margin-right: 60px;
}

.input-group-addon{
  width: auto;
}

.row-container{
  display: flex;
  justify-content: space-around;
}

.fonctionnalities p{
  max-width: 500px;
}

#inscription_section{
  text-align: center;
}

#inscription_section button{
  margin: auto;
}

#email_content{
  min-height: 200px;
}

#contact input{
  max-width: 1000px;
}

#contact{
  text-align: center;
}

#contact form{
  margin: auto;
  width: 90%;
}





/******* MY OBJECTS ********/

#newObject{
  margin-left: 5%;
  min-width: 30%;
  max-width: 200%;
}

#myObjects table{
  width: 75%;
  max-height: 100%;
  margin-top: 10px;
}

td, th{
  text-align: center;
}

table{
  border-collapse:inherit;
  border-width: 0px;
}



/******* OBJECTS BORROWED *******/

#objectsBorrowed .container{
  padding-top: 64px;
}

#objectsBorrowed .table{
  margin: auto;
}

#objectsBorrowed .row{
  display: flex;
}

/***********************/

tbody{
  vertical-align: middle;
}

tr{
  vertical-align: middle;
}

/******* INSCRIPTION *********/

#welcome-body{
  background-color: #FF9800;
}

.container #first-row #panel-parent{
    height: 100vh;
}

#panel-parent{
    display: flex;
    padding-top: 20px;
}

#logo_col{
    display:flex;
}

#logo_p{
    margin: auto;
}

#logo{
    width:80%;
    margin: auto;
}

.input-group{
    margin-top: 0px;
    margin-bottom : 0px;
}

input, select{
    height: 30px;
    border-right: None;
}

.span-warning{
  color:red;
  font-size: 10px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-group-addon{
    height: auto;
}

select{
    width:100%;
}

.panel {
    margin: auto;
    background-color: #C3C1BA;
    width:auto;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}
