html{
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper{
  position:relative;
  height: 100vh;
}

.container{
  margin: auto;
}


/******** HEADER ********/

.navbar{
  background-color: #FF9800;
  position: relative;
  font-size: 1.2em;
  border-radius: 0px;
  min-height: 70px;
  max-height: 90px;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.navbar-header {
	height: 68px;
  padding : auto;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
}

.navbar-default .navbar-toggle {
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	border-bottom: 1px solid white;
}

.dropdown-menu {
	background-color: #FF9800;
	color: white;
	margin-top:; 0;
	padding: 0 0 0 0;
	border-radius: 0;
	border: 1px solid #FF9800;
	min-width: 0;
  font-size: 1em;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
}

.dropdown-menu>li>a {
	color:white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: orange;
	color: white;
}

.dropdown-menu>li {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown{
  position: relative;
  display: inline-block;
}

.dropdown-menu{
  display: none;
  position: absolute;
  z-index: 1;
  padding-left: 3px;
  padding-right: 7px;
}

.dropdown-menu li:hover{
	background-color: ##FFA726;
  text-decoration: none;
  display: block;
}

.navbar-default .navbar-toggle:hover {
	background-color: #FF9800;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
	color: white;
}

#logo {
	padding: 7px;
	margin: 0 0 0 0;
  width: 100%;
  height: auto;
}

#logo-pic{
  overflow:hidden;
  display: inline-block;
  border-radius:50%;
  width: 60px;
  height: 60px;
  margin-bottom: : 10px;
}

#menu-items>li>a {
	color: white;
	margin: 0 3px 0 3px;
}

#menu-items>li {
	padding: 10px 5px 10px 0;
}

#menu-items>li:not(.active) {
	border-bottom: 1px solid transparent;
}

#menu-items>li:hover {
	background-color: #FFA726;
}


/******** FOOTER ********/

#footer-wrapper{
  background-color: #FF9800;
  width: 100%;
  margin-top: auto;
  text-align: center;
  margin: 0 0 0 0;
  margin-bottom: 0px;
}

#footer {
	background-color: #FF9800;
	color:white;
  max-height: 100%;
}

#footer-content {
	margin: 0 auto;
  max-height: 100%;
}

#footer-content-2 {
	margin: 0 10px;
}

#pages {
	padding: 20px 5px 3px 5px;
}

#pages ul {
	list-style: none;
	padding: 0 30px 0 10px;
}

#pages li {
	margin-bottom: 10px;
	text-align: left;
}

#pages a {
	color: white;
	text-decoration: none;
	margin: 0 20px 0 20px;
	font-size: 1em;
	letter-spacing: 0.5px;
}

#pages li:hover>a {
	color: #00B8DE;
	transition: 0.5s;
}

#social-media {
	padding: 10px 0 10px 0;
	text-align: center;
}

#social-media h3, #acknowledgments h3 {
	color: white;
	padding-bottom: 15px;
}

#social-media a img {
	width: 55px;
	margin: 10px 10px 10px 10px;
}

#acknowledgments {
	margin: 10px 0;
	text-align: justify;
}

#copyrights {
	padding: 0.5px 0 0 0;
	color: white;
	background-color: #FF9800;
}

#copyrights a {
	color: white;
}

#copyrights a:hover {
	color:#FF9800;
	text-decoration: none;
}

#copyrights p{
  margin: 0 0 2px;
}

/******** CONNEXION *********/

.modal-title{
  text-align: center;
}

.modal img{
  margin:auto;
}

.modal-footer {
  border-top:none;
}


/******* MY OBJECTS ********/

#newObject{
  margin-left: 5%;
  min-width: 30%;
  max-width: 200%;
}

#myObjects table{
  width: 75%;
  max-height: 100%;
  margin-top: 10px;
}

td, th{
  text-align: center;
}



/******* OBJECTS BORROWED *******/

#objectsBorrowed .container{
  padding-top: 64px;
}

#objectsBorrowed .table{
  margin: auto;
}

#objectsBorrowed .row{
  display: flex;
}

/***********************/

tbody{
  vertical-align: middle;
}

tr{
  vertical-align: middle;
}

/******* INSCRIPTION *********/

#welcome-body{
  background-color: #FF9800;
}

.container #first-row #panel-parent{
    height: 100vh;
}

#panel-parent{
    display: flex;
    padding-top: 20px;
}

#logo_col{
    display:flex;
}

#logo_p{
    margin: auto;
}

#logo{
    width:80%;
    margin: auto;
}

.input-group{
    margin-top: 0px;
    margin-bottom : 0px;
}

input, select{
    height: 30px;
    border-right: None;
}

.span-warning{
  color:red;
  font-size: 10px;
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}

.input-group-addon{
    height: auto;
}

select{
    width:100%;
}

.panel {
    margin: auto;
    background-color: #C3C1BA;
    width:auto;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}
